body {
  margin: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  font-size: 500%;
  background-color: #8cff86;
  overflow-x: hidden;
}

.mimi {
  color: rgb(179, 0, 255);
  margin: 20px;
  padding: 20px;
  font-family: 'Danfo', sans-serif;
}

.fotomimi img {
  width: 300px;
  height: auto;
}

.msg {
  color: rgb(49, 1, 67);
  margin: 20px;
  padding: 20px;
}

p {
  font-family: 'Lexend', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  color: rgb(59, 54, 1);
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('coracao.png'); /* Define a imagem do coração */
  background-size: cover;
  animation: fall 2s ease-in-out infinite;
  left: calc(50% - 10vw + 20vw * var(--position)); /* Limita a variação horizontal */
}

@keyframes fall {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}

span {
  color: rgb(94, 86, 0);
}

.agradece {
  text-align: center;
  margin: auto;
  padding: 100px;
}

/* Responsividade */
@media (max-width: 1200px) {
  .msg p {
    font-size: 1.1rem;
  }

  .agradece {
    padding: 50px;
  }

  .agradece h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  .mimi h1 {
    font-size: 2.5rem;
  }

  .msg p {
    font-size: 1rem;
  }

  .agradece h2 {
    font-size: 1.2rem;
  }

  .heart {
    left: calc(50% - 20vw + 40vw * var(--position)); /* Ajusta a variação horizontal */
  }
}

@media (max-width: 768px) {
  .mimi h1 {
    font-size: 2rem;
  }

  .msg p {
    font-size: 0.9rem;
  }

  .agradece h2 {
    font-size: 1rem;
  }

  .heart {
    left: calc(50% - 30vw + 60vw * var(--position)); /* Ajusta a variação horizontal */
  }
}

@media (max-width: 576px) {
  .mimi h1 {
    font-size: 1.5rem;
  }

  .msg {
    padding: 15px;
  }

  .msg p {
    font-size: 0.8rem;
  }

  .agradece h2 {
    font-size: 0.9rem;
  }

  .heart {
    left: calc(50% - 40vw + 80vw * var(--position)); /* Ajusta a variação horizontal */
  }
}

@media (max-width: 500px) {
  body {
    font-size: 100%;
    margin: 0;
    padding: 0;
  }

  p, h2 {
    font-size: medium;
  }

  .agradece {
    padding: 30px;
  }

  .msg {
    padding: 10px;
  }

  .foto img {
    width: 150px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
  }

  .heart {
    left: calc(50% - 45vw + 90vw * var(--position)); /* Ajusta a variação horizontal */
  }
}
