body {
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 500%;
    background-color: #9c02ef;
    justify-items: center;


  }
  .mimi{
    color: rgb(255, 136, 0);
    margin: 20px;
    padding: 20px;
    font-family: 'Danfo', sans-serif;
  }
  .fotomimi img {
    width: 200px;
    height: auto;
  }
  .msg{
    color: rgb(98, 255, 0);
    margin: 20px;
    padding: 20px;
  }
  p{
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
  }
  h2{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: rgb(221, 184, 255);
  }
  .heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('coracao.png'); /* Define a imagem do coração */
    background-size: cover;
    animation: fall 2s ease-in-out infinite;
  }
  
  @keyframes fall {
    0% {
      top: 0;
    }
    100% {
      top: 100vh;
    }
  }
  span{
    color: rgb(255, 157, 0);
  }
  .agradece{
    text-align: center;
    margin: auto;
    padding: 100px;
  }
  section{
    margin: auto;
    align-items: center;
    text-align: center;
  }